# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\An2\OOP\BankingApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
